
{% extends "base_generic.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="span-20 last">
<div class="span-20">
<h2>Computing for a cause: Download</h2>

<p>Please use the following links to download the grid computing application for your operating system<br />  
Windows 2000/XP/Vista/7 : <a href="http://boinc.berkeley.edu/dl/boinc_7.0.28_windows_intelx86.exe">Download</a><br />
Windows 64-bit XP/Vista/7 : <a href="http://boinc.berkeley.edu/dl/boinc_7.0.28_windows_x86_64.exe">Download</a><br />
Mac OS X (Intel only) Version 10.4.0+ : <a href="http://boinc.berkeley.edu/dl/boinc_7.0.31_macOSX_i686.zip">With GUI</a> | <a href="http://boinc.berkeley.edu/dl/boinc_7.0.31_i686-apple-darwin.zip">Unix command-line version</a><br />
Mac OS X (PowerPC and x86) Version 10.4.0+ : <a href="http://boinc.berkeley.edu/dl/boinc_6.12.35_macOSX_universal.zip">Standard GUI</a> | <a href="http://boinc.berkeley.edu/dl/boinc_6.12.35_universal-apple-darwin.zip">Unix command-line version</a><br />
Linux x86 (tested on Ubutnu) : <a href="http://boinc.berkeley.edu/dl/boinc_7.0.28_i686-pc-linux-gnu.sh">Download</a> | <a href="http://boinc.berkeley.edu/wiki/Installing_BOINC#Linux">Distribution-specific packages</a><br /> 
Linux x64 (tested on Ubutnu) : <a href="http://boinc.berkeley.edu/dl/boinc_7.0.28_x86_64-pc-linux-gnu.sh">Download</a> | <a href="http://boinc.berkeley.edu/wiki/Installing_BOINC#Linux">Distribution-specific packages</a><br />
Older Linux x86 and x64 : <a href="http://boinc.berkeley.edu/dl/boinc_compat_6.12.22_i686-pc-linux-gnu.sh">Download</a><br />

</p>
</div>
</div>
{% endblock %}
