{% extends "base_generic.html" %}
{% load mytags %}
{% block header %}
          <div class="span-24" id="headersmall">
                {% block headertext %}
                {% endblock %}
          </div>
          {% endblock %}


{% block content %}

{% if genes %}
<ol>
{% for gene in genes %}
<li><a href=/gene/{{ gene.approved_symbol }}>{{ gene.approved_symbol }} - {{ gene.approved_name }}</a></li>
{{ gene.approved_name }}<br>
Other aliases: {{ gene.previous_symbols }}<br>
{% endfor %}
</ol>
{% endif %}

{% endblock %}

