{% extends "base_generic.html" %}
{% load mytags %}
{% block header %}
          <div class="span-24" id="headersmall">
                {% block headertext %}
                {% endblock %}
          </div>
          {% endblock %}


{% block content %}
{% if genes %}
<h2>Gene Results</h2>
<br/>
<ol>
{% for gene in genes %}
<li><a href="/gene/{{ gene.browser_name }}/{{ gene.name }}">{{ gene.name }}{% if gene.approved_name %} - {{ gene.approved_name }}{% endif %}</a></li>
{% if gene.approved_name %}{{ gene.approved_name }}<br/>{% endif %}
{%if gene.previous_symbols %}Other aliases: {{ gene.previous_symbols }}<br/>{% endif %}
{% endfor %}
</ol>
{% endif %}

{% if mirnas %}
<h2>MicroRNA Results </h2>
<br/>
<ol>
{% for mirna in mirnas %}
<li><a href="/detail/{{ mirna.mirbase_name }}">{{ mirna.mirbase_name }}</a><br/>{{ mirna.genome }}</li>
{% endfor %}
</ol>
{% endif %}

{% endblock %}

