{% extends "base_generic.html" %}
{% block header %}
          <div class="span-24" id="headersmall">
                {% block headertext %}
                {% endblock %}
          </div>
          {% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="span-20 last">
<div class="span-20">
<h2>About</h2>
<div>Trident is a webserver designed to present results from genome wide associations studies with a variety of pharmacogenomic phenotypes.</div>  
<br>
<h3>Image credits</h3>
<h4>We gratefully acknowledge the following for allowing us to modify and reuse images by publishing under the following licenses:</h4>
<h5>GNU Free Documentation License, version 1.2</h5>
Muhammad Mahdi Karim<br>
{# <a href="/static/img/icons/aae.png">Aedes aegypti</a><br> #}
<a href="/static/img/icons/ame.png">Apis mellifera</a><br>
</div>
</div>
{% endblock %}
