
{% extends "base_generic.html" %}
{% block header %}
          <div class="span-24" id="headersmall">
                {% block headertext %}
                {% endblock %}
          </div>
          {% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="span-20 last">
<div class="span-20">
<h2>About</h2>
Trident is a webserver designed to present results from genome wide associations studies with a variety of pharmacogenomic phenotypes.   
</div>
</div>
{% endblock %}
