
{% extends "base_generic.html" %}

{% block title %}Trident API{% endblock %}


 {% block header %}
          <div class="span-24" id="headersmall">
                {% block headertext %}
                {% endblock %}
          </div>
          {% endblock %}



{% block content %}
<div class="span-20 last">
<div class="span-20">
<h2>Trident API</h2>
<p>Trident provides multiple APIs to the range of applications in the software suite, ranging from triplex heuristic scoring to post-processing of results. Such functions are provided in multiple languages. For C, Python and Hadoop APIs, visit the <a href="/static/tridentapi">code documentation page</a>. Additionally, most data analysis may be done using the RESTful api provided on this site.</p>

<h2>Trident Web API</h2>
<p>Data produced by trident is accessble via a REST API, providing HTML and JSON put formats. Below is a list of URIs that may be used to obtain trident data.
<br/></p>

<ul>
<li>{{ BASE_URL }}/gene/GENENAME/ - Provides gene information, such as genomic location, synonyms and trident results within the gene location. </li>
<li>{{ BASE_URL }}/detail/MICRORNA/ - Provides MicroRNA information, such as genomic information and mirbase id.</li>
<li>{{ BASE_URL }}/json/MICRORNA/ - Same as {{ BASE_URL }}/detail/MICRORNA/, but output is provided in JSON format.</li>
<li>{{ BASE_URL }}/json/MICRORNA/CHROMOSOME NUMBER - Lists the number of trident results on a given chromosome for MICRORNA.</li>
<li>{{ BASE_URL }}/detail/MICRORNA/CHROMOSOME NUMBER/GENOMIC START LOCATION/ - Lists trident results for MICRORNA that start at GENOMIC START LOCATION on the given chromosome.</li>
<li>{{ BASE_URL }}/json/MICRORNA/CHROMOSOME NUMBER/GENOMIC START LOCATION/ - Same as {{ BASE_URL }}/detail/MICRORNA/CHROMOSOME NUMBER/GENOMIC START LOCATION/, but output is provided in JSON format.</li>
<li>{{ BASE_URL }}/search/QUERY/ - REST API to the search function, searching microrna and gene data. Provides the same result given by the form on the page <a href="{{ BASE_URL }}/search/">{{ BASE_URL }}/search/</a>.</li>
</ul>


</div>
</div>
{% endblock %}
