
{% extends "base_generic.html" %}

{% block title %}Genome Browser{% endblock %}

{% block header %}
          <div class="span-24" id="headersmall">
                {% block headertext %}
                {% endblock %}
          </div>
          {% endblock %}

{% block content %}
<div class="span-20 last">
<div class="span-20">
<h2>Genomes</h2>
<table class="browserlist">
<tr>
{% for genome in genomes %}
{% if genome.browser_name %}
<td class="browserlist">
<a href="/static/{{ genome.browser_name }}"><img src="/static/img/icons/{{ genome.browser_name }}.png"><br>{{ genome.genome_genus }} {{ genome.genome_species }}</a></li>
</td>
{% endif %}
{% endfor %}
</tr>
</table>
</div>
</div>
{% endblock %}
