
{% extends "base_generic.html" %}

{% block title %}Genome Browser{% endblock %}

{% block header %}
          <div class="span-24" id="headersmall">
                {% block headertext %}
                {% endblock %}
          </div>
          {% endblock %}

{% block content %}
<div class="span-20 last">
<div class="span-20">
<h2>Genomes</h2>
<table class="browserlist">
{% for genome in genomes %}
{% if genome.status == None or genome.status == "" %}
{% if forloop.counter0 == 0 or forloop.counter0|divisibleby:5 %}
<tr>
{% endif %}
{% if genome.browser_name %}
<td class="browserlist">
<div id="activecontainer">
<a href="/static/{{ genome.browser_name }}/"><img src="/static/img/icons/{{ genome.browser_name }}.png"></div>
{{ genome.genome_genus }} {{ genome.genome_species }}</a>
</div>
</td>
{% if forloop.counter|divisibleby:5 %}
</tr>
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
</table>
</div>
</div>
{% endblock %}
