{% extends "base_generic.html" %}
{% block header %}
          <div class="span-24" id="headersmall">
                {% block headertext %}
                {% endblock %}
          </div>
          {% endblock %}

{% block content %}
<div class="span-20 last">
<div class="span-20">
<h2>Genomes</h2>
<div>We aim to provide information on a variety of different species.  Below are genomes planned and their processing status.</div><br>
<table class="browserlist">
{% for genome in genomes %}
{% if forloop.counter0 == 0 or forloop.counter0|divisibleby:5 %}
<tr>
{% endif %}
{% if genome.browser_name %}
<td class="browserlist">
{% if genome.status == "" or genome.status == None %}
<div id="activecontainer">
<a href="/genome/{{ genome.id }}/"><img src="/static/img/icons/{{ genome.browser_name }}.png"></div>
{{ genome.genome_genus }} {{ genome.genome_species }}</a>
</div>
{% endif %}
{% if genome.status != "" and genome.status != None %}
<div id="inactivecontainer">
<a href="/genome/{{ genome.id }}/"><img src="/static/img/icons/{{ genome.browser_name }}.png" id="inactiveimage"></a>
<div><a href="/genome/{{ genome.id }}/" id="inactivetext">{{ genome.status }}</a></div>
</div>
<a href="/genome/{{ genome.id }}/">{{ genome.genome_genus }} {{ genome.genome_species }}</a>
</div>
{% endif %}

</td>
{% if forloop.counter|divisibleby:5 %} 
</tr>
{% endif %}
{% endif %}
{% endfor %}
</tr>
</table>
</div>
</div>
{% endblock %}
