{% extends "base_generic.html" %}


{% block content %}
<h2>Welcome!</h2>
Trident is a genomics interaction web service designed to present results from genome wide associations studies with a variety of pharmacogenomic phenotypes incorporating network analysis between different genomic measurements.
Our currently featured tool is psi, the microRNA:dsDNA binding site algorithm.
psi is a novel method for prediction of Hoogsteen type base pairings between microRNA and double-stranded DNA with intergration with <i>in vitro</i> data from primary patient samples.
You can <a href="/static/tridentbrowse/">browse the results</a>, make a <a href="tools/">prediction</a> using your own input, or volunteer your computers idle time to <a href="/compute/">compute</a> for a cause.

{% endblock %}
