
{% extends "base_generic.html" %}
{% block header %}
          <div class="span-24" id="headersmall">
                {% block headertext %}
                {% endblock %}
          </div>
          {% endblock %}

{% block content %}
{% if error_message %}
<h3>Error</h3>
<p>{{ error_message }}</p>
<br/>
{% endif %}
<h2>Result detail</h2>
{% if not latest_result_list %}
<p>No results found</p>
{% else %}
{% include 'resulttable.html' with latest_result_list=latest_result_list %}
{% endif %}
{% endblock %}
