{% load mytags %}
{% for result in latest_result_list %}
<table>
<tr>
<th>Feature</th><th>Value</th>
</tr>
{% if result|keyvalue:'microrna' %}
<tr class="{% cycle 'even' 'odd' as rowcolor %}">
<td>microRNA</td><td><a href="{% url ple.views.micrornadetail microrna_id=result|keyvalue:'microrna' %}">{{ result|keyvalue:'microrna' }}</a></td>
</tr>
<tr>
<tr class="{% cycle rowcolor %}">
<td>Chromosome</td><td>{{ result|keyvalue:'chromosome' }}</td>
</tr>
{% endif %}
<tr class="{% cycle rowcolor %}">
<td>Genomic Start Position</td><td>{{ result|keyvalue:'hit_genomic_start' }}</td>
</tr>
<tr class="{% cycle rowcolor %}">
<td>Genomic End Position</td><td>{{ result|keyvalue:'hit_genomic_end' }}</td>
</tr>
<tr class="{% cycle rowcolor %}">
<td><a class="tooltip" href="#">Base Type<span class="custom info"><img src="/static/img/info.png" alt="Information" height="48" width="48" /><em>Base Type</em>Triplex structures can be classified into two types: Hoogsteen Triplexes and Reverse-Hoogsteen Triplexes.  Hoogsteen Triplexes rely on Hoogsteen base pairings, and this pairing scheme dictates that the third strand be primarily "pyrimidine" bases and run parallel to the purine-rich strand of the duplex.  Reverse-Hoogsteen Triplexes rely on Reverse-Hoogsteen base pairings, and this pairing scheme dictates that the third strand be primarily "purine" bases and run anti-parallel to the purine-rich strand of the duplex.  A base type of "pyrimidine" indicates that the interaction is a Hoogsteen Triplex, and a base type of "purine" indicates that the interaction is a Reverse-Hoogsteen Triplex.</span></td><td>{{ result|keyvalue:'base_type' }}</td>
</tr>
<tr class="{% cycle rowcolor %}">
<td><a class="tooltip" href="#">Hit Score<span class="custom info"><img src="/static/img/info.png" alt="Information" height="48" width="48" /><em>Hit Score</em>Potential interactions between microRNAs and targets within their associated genome are evaluated using the Trident algorithm.   Trident rates potential microRNA target sites using two methods.  Here, "Hit Score" is a metric of complementarity, measuring how well the triplets of a triplex line up.</span></a></td><td>{{ result|keyvalue:'hit_score' }}</td>
</tr>
<tr class="{% cycle rowcolor %}">
<td><a class="tooltip" href="#">Hit Energy<span class="custom info"><img src="/static/img/info.png" alt="Information" height="48" width="48" /><em>Hit Energy</em>
Potential interactions between microRNAs and targets within their associated genome are evaluated using the Trident algorithm.  Trident rates potential microRNA target sites using two methods.  Here, "Hit Energy" is a metric of thermodynamic stability, measuring the minimum free energy of an interaction.
</span></a></td><td>{{ result|keyvalue:'hit_energy' }}</td>
</tr>
<tr class="odd">
<td><a class="tooltip" href="#">Hit structure<span class="custom info"><img src="/static/img/info.png" alt="Information" height="48" width="48" /><em>Hit structure</em>

This is a schematic of the microRNA/double stranded DNA interaction.  The presence of a connector between a base on the duplex and a base on the third strand indicates a viable triplet.</span></a>

</td><td><pre>{{ result|keyvalue:'query_seq' }}<br />{{ result|keyvalue:'hit_string' }}<br />{{ result|keyvalue:'ref_seq' }}<br />{% complement result|keyvalue:'ref_seq' %}</pre></td>
</tr>
<tr class="{% cycle rowcolor %}">
<td>Match Type</td><td>{{ result|keyvalue:'match_type' }}</td>
</tr>
{%  if 'grade' in result or result|getgrade %}
<tr class="{% cycle rowcolor %}">
<td>Grade</td><td>{% if 'grade' in result %}{{ result|keyvalue:'grade' }}{% else %}{{result|getgrade}}{% endif %}</td>
</tr>
{% endif %}
{% if result|keyvalue:'genome' %}
<tr class="{% cycle rowcolor %}">
<td>Genome</td><td>{{ result|keyvalue:'genome' }}</td>
</tr>
{% endif %}


</table>
{% endfor %}
